* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* body */
body {
    background: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    }
/* end body */

/* general */
.container{
    margin: 0 auto;
    max-width: 100%;
    padding: 50px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', serif;
    text-align: center;
    }
hr{
    width: 90%;
    align-self: center;
    margin: 0 auto;
}
/* end general */

/* top-banner */
/* banner container */
.top-banner .container{
    display: grid;
    grid-template-columns: 10% auto 5%;
    grid-template-rows: 1fr;
}
/* end banner container */

/* logo */
.logo_link{
    font-weight: bold;
}
/* end logo */

/* navigation bar */
.nav-bar{

    border-radius: 10%;
    padding-top: 10px;
    margin-right: 0;
}
.nav-bar ul{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    float: right;
    gap: 20px;
    margin-right: 0;
}
.nav-bar ul li{
    margin-right: 0;
}
.nav-bar li a {
    background-color: #8b4513;
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight:500;
    gap: 10px;
    margin-right: 0;
}
.fas{
    display: none !important;
}
/* end navigation bar */
/* end top-banner */

/* mott section */
.motto_header{
    text-align: center;
}
/* end motto section */

/* card */
/* .card{
    height: 700px;
} */
.card .container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: nowrap;
    height: 50%;
}
.card .container .intro{
    width: 70%;
    padding: 5px;
    line-height: 1.5;
}
.card .container .picture img{
    width: 100%;
    height: 100%;

}  
.card .container .picture img{
    width: 100%;
    /* height: 10%; */
} 
.promotion .container h3{
    padding-left: -5%;
    margin-left: -5%;
}
.hire-me {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10%;
    margin-top: 20px;
}
/* end card */

/* tech-intro */

/* end tech-intro */

/* tool box */
.tool-box .container {
    display: flex;
    justify-content:center;
    flex-wrap: nowrap;
}
.tool-box .container .tech-icons img{
    width:100%;

}
/* end tool box */

/* projects */
.project{
    display: flex;
    gap: 10px;
    padding: 20px;
}
.project-screen-shot img{
    width: 100%;
}

.view-more-button {
    text-align: center;
}
.view-more-btn{
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10%;
    margin-top: 20px;
}
#more {
    display: none;
}
.projects hr{
    width: 15%;
    margin-bottom: 20px;
}
.projects h2{
    margin-bottom: 20px;
    padding: 0px;
}
/* end projects */

/* footer */
.footer .container{
    display: flex;
    justify-content: space-around;
}
.social {
    display: inline-flex;
    justify-content: space-evenly;
}
.footer-icons .fab{
    padding: 10px;
}
.bottom-nav li{
    display: inline-flex;
    padding: 10px;
}
.copy-right{
    padding: 10px;
}

/* end footer */

/* media query  */
@media only screen and (max-width: 790px) {
    body {
      width: 100%;
      height:  100vh;
      margin: 0 auto;
    }
    .card .container{
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    .card .intro{
        width: 100%;
        /* height: 10%; */
        flex-grow: 1;
    }
    .card .picture{
        width: 100%;
        flex-grow: 1;
    }
    .project {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .top-banner{
        display: flex;
    }
    .top-banner .container{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-bar{
        display: flex;
        flex-wrap: wrap;
        display: none;
    }
    .dar-mode{
        position: relative;
        bottom: 90%;
        left: 50%;
    }
    .logo-changing-to-motto {
        position: relative;
        bottom: 70%;
        right: 50%;
    }
    .fas {
        display: block !important;
        cursor: pointer;
    }
    .footer .container{
        display: flex;
        flex-wrap: wrap;
    }
    .bottom-nav ul {
        display: flex;
        flex-wrap: nowrap;
    }
  }
/* end media query  */

/* questions */
/* 1- How to make the dark mode icon away from the nav bar?
   2- How to make the word home exactly in the middle of the brown bar?
   3- How to make gaps between the links in the navigation bar? 
   4- the image height and size?
   5- pictures in the projects sections not he same size?
 */
/* end questions */